_reports/
_artifacts/
joblogs/
*.sarif
*.zip
*.tgz
*.tar.gz
*.7z
*.dll
*.dylib
*.so
*.iso
*.mp4
*.png
*.jpg
dmpw_linux_install_v5/install/*/images/
*.tgz
*.tar.gz
dmpw_linux_install_v5/install/*/images/
*.tgz
*.tar.gz
dmpw_linux_install_v5/install/*/images/
*.tgz
*.tar.gz
