{
  "x-generator": "NSwag v14.0.8.0 (NJsonSchema v11.0.1.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "DeMasterPro services - DeMasterPro HTTP API",
    "description": "Swagger aides in development across the entire API lifecycle, from design and documentation, to test and deployment.",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api3.demasterpro.com"
    },
    {
      "url": "http://api3.demasterpro.com"
    }
  ],
  "paths": {
    "/access-groups": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "List all access group with pagination",
        "operationId": "AccessGroup_Gets",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Access Group by Name.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "doorIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "Door Ids",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "userIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "User Ids",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 3
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 4
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 5
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column. Example ",
            "schema": {
              "type": "string",
              "default": "Name",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Add new access group\nNote: This API uses JWT Bearer authentication via Authorization header, not cookies.\nTherefore, CSRF protection is not applicable.",
        "operationId": "AccessGroup_Add",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Access Group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessGroupModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Delete list access group",
        "operationId": "AccessGroup_DeleteMultiple",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "list ids of access group",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Delete list access group success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get a access group by id",
        "operationId": "AccessGroup_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Edit a access group",
        "operationId": "AccessGroup_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Access Group",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessGroupModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Delete a access group",
        "operationId": "AccessGroup_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a access group success",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/doors": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get list of doors with access group by id",
        "operationId": "AccessGroup_GetAssignDoors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Doors by Device Address, Name, Timezone or Building",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "operationType",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 3
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 4
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 5
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/unassigned-doors": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get list of doors unassigned with access group by id",
        "operationId": "AccessGroup_GetUnAssignDoors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Doors by Device Address, Name or Building",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "operationType",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 3
          },
          {
            "name": "buildingIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 4
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 5
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 6
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column",
            "schema": {
              "type": "string",
              "default": "Id",
              "nullable": true
            },
            "x-position": 7
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 8
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/all-doors-visits": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get list of all doors by accessGroupId for visit",
        "operationId": "AccessGroup_GetUnAssignDoorsForVisit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Doors by Building Name",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 4
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "onlyDefaultDoor",
            "in": "query",
            "description": "If using onlyDefaultDoor = true, list device response: default door config page visit setting",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/users": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get list of all users with access group by id",
        "operationId": "AccessGroup_GetAssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Users by UserName, Department Name or CardId",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 4
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string of the column",
            "schema": {
              "type": "string",
              "default": "FirstName",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/unassigned-users": {
      "get": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Get list of all users unassigned with access group by id",
        "operationId": "AccessGroup_GetUnAssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Users by UserName, Department Name or Access Group Name",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 4
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column",
            "schema": {
              "type": "string",
              "default": "FirstName",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/assign-users": {
      "post": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Assign users to an access group",
        "operationId": "AccessGroup_AssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access group identifier. ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "userIds",
          "description": "List of identifiers for the users. ",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "An IActionResult. ",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/assign-doors": {
      "post": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Assign doors to an access group",
        "operationId": "AccessGroup_AssignDoors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for (doorId, timezoneId and companyId)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessGroupAssignDoor"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/unassign-doors": {
      "delete": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Remove doors from an access group",
        "operationId": "AccessGroup_UnAssignDoors",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "doorIds",
          "description": "List of ids with doors",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/{id}/unassign-users": {
      "delete": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Remove users from an access group",
        "operationId": "AccessGroup_UnAssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Access Group Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "userIds",
          "description": "List of ids with users",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/all/unassign-doors": {
      "delete": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Delete devices from all access groups",
        "operationId": "AccessGroup_RemoveDeviceFromAllAccessGroup",
        "requestBody": {
          "x-name": "doorIds",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-groups/access-times": {
      "post": {
        "tags": [
          "AccessGroup"
        ],
        "summary": "Add access group -> assign door with access time names (apply to HVQY)",
        "operationId": "AccessGroup_AddAccessGroupByAccessTimeName",
        "requestBody": {
          "x-name": "accessTimeNames",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/init": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get init accessSchedule page",
        "operationId": "AccessSchedule_GetInit",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get list of accessSchedule with company",
        "operationId": "AccessSchedule_Gets",
        "parameters": [
          {
            "name": "content",
            "in": "query",
            "description": "Content of accessSchedule",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "userIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "List of user ids",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 4
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column. Example ",
            "schema": {
              "type": "string",
              "default": "Content",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Add new accessSchedule",
        "operationId": "AccessSchedule_Add",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessScheduleModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Delete list accessSchedules",
        "operationId": "AccessSchedule_DeleteRange",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "List of ids accessSchedule",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/{id}": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get accessSchedule by id",
        "operationId": "AccessSchedule_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Edit accessSchedule",
        "operationId": "AccessSchedule_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessScheduleModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Delete accessSchedule",
        "operationId": "AccessSchedule_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/{id}/users": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get all users of accessSchedule",
        "operationId": "AccessSchedule_GetUsersOfAccessSchedule",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/{id}/assign-users": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get list of all users with accessSchedule by id",
        "operationId": "AccessSchedule_GetAssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Users by UserName, Department Name or CardId",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 3
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 4
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string of the column",
            "schema": {
              "type": "string",
              "default": "FirstName",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Assign users to an accessSchedule",
        "operationId": "AccessSchedule_AssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "accessSchedule identifier. ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "userIds",
          "description": "List of identifiers for the users. ",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "An IActionResult. ",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/{id}/unassigned-users": {
      "get": {
        "tags": [
          "AccessSchedule"
        ],
        "summary": "Get list of all users unassigned with accessSchedule by id",
        "operationId": "AccessSchedule_GetUnAssignUsers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "AccessSchedule Id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "idsIgnore",
            "in": "query",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 2
          },
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Users by UserName, Department Name or AccessSchedule Name",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 4
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 5
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column",
            "schema": {
              "type": "string",
              "default": "FirstName",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-schedules/{id}/unassign-users": {
      "delete": {
        "tags": [
          "AccessSchedule"
        ],
        "operationId": "AccessSchedule_UnAssignUser",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "userIds",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-times": {
      "get": {
        "tags": [
          "AccessTime"
        ],
        "summary": "List all Timezones with pagination",
        "operationId": "AccessTime_Gets",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Access Group by AccessTime or Remark.",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 3
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column. Example ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Add a new timezone",
        "operationId": "AccessTime_Add",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Timezone (from-to are installed by minute). Ex: 0h00 - 23h59m --> from 0 - to 1439",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTimeModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Timezone multiple delete",
        "operationId": "AccessTime_DeleteMultiple",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "list of timezone ids to delete",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-times/{id}": {
      "get": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Get detail timezone by id",
        "operationId": "AccessTime_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Timezone id",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Edit timezone",
        "operationId": "AccessTime_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "timezone id to edit",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Timezone (from-to are installed by minute). Ex: 0h00 - 23h59m --> from 0 - to 1439",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTimeModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Delete timezone",
        "operationId": "AccessTime_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "timezone id to delete",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/access-times-hvqy": {
      "post": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Add a new access time for hvqy",
        "operationId": "AccessTime_AddAccessTimeHvqy",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Timezone (from-to are installed by minute). Ex: 0h00 - 23h59m --> from 0 - to 1439",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTimeModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/assign-access-times-hvqy": {
      "post": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Assign a access time for user",
        "operationId": "AccessTime_AssignAccessTimeHvqy",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Timezone (from-to are installed by minute). Ex: 0h00 - 23h59m --> from 0 - to 1439",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignAccessTime"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/unassign-access-times-hvqy": {
      "post": {
        "tags": [
          "AccessTime"
        ],
        "summary": "Assign a access time for user",
        "operationId": "AccessTime_UnAssignAccessTimeHvqy",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Timezone (from-to are installed by minute). Ex: 0h00 - 23h59m --> from 0 - to 1439",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignAccessTime"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/login": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Login by account and password",
        "operationId": "Account_Login",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for login(username, password)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/login-step2": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Login by company and token temporary",
        "operationId": "Account_SecondLogin",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for login(companyId and temporary token)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginModelWithCompany"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/refreshtoken": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Refresh token",
        "operationId": "Account_RefreshToken",
        "parameters": [
          {
            "name": "refreshToken",
            "in": "query",
            "description": "String of token refreshed",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "expiredToken",
            "in": "query",
            "description": "String timezone by expired of token",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/switch-company": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Switch company",
        "operationId": "Account_SwitchCompany",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 3
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "name",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get list of Accounts with pagination",
        "operationId": "Account_Gets",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter by username or email",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 3
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string of the column",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 5
          },
          {
            "name": "companyIds",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "List of company ids",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 6
          },
          {
            "name": "ignoreApprovalVisit",
            "in": "query",
            "description": "Ignore list account approval of visit setting",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Add a account.",
        "operationId": "Account_Add",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for Account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete multiple accounts.",
        "operationId": "Account_DeleteMultiple",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "style": "form",
            "explode": true,
            "description": "List of account ids",
            "schema": {
              "type": "array",
              "nullable": true,
              "items": {
                "type": "integer",
                "format": "int32"
              }
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account (or company account) information",
        "operationId": "Account_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "an identifier of company account ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Edit the account information.",
        "operationId": "Account_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "identifier of companyAccount ",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for company account",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "delete": {
        "tags": [
          "Account"
        ],
        "summary": "Delete a account.",
        "operationId": "Account_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Account identifier",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts-profile": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account profile information",
        "operationId": "Account_GetProfile",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Edit the account profile information.",
        "operationId": "Account_EditProfile",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/avatar": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update image for user",
        "operationId": "Account_UploadAvatar",
        "requestBody": {
          "x-name": "model",
          "description": "Object model json include avatar",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountAvatarModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get avatar for user",
        "operationId": "Account_GetAvatar",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/forgot-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "When forgot password",
        "operationId": "Account_ForgotPassword",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for string of email login",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForgotPasswordModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/reset-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset password",
        "operationId": "Account_ResetPassword",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for object(new password, confirm new password and token string)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetPasswordModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/get-timezone-by-standard": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get time zone",
        "operationId": "Account_GetListTimeZone",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/get-preferred-system": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get preferred system options",
        "operationId": "Account_GetPreferredSystem",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/update-timezone": {
      "patch": {
        "tags": [
          "Account"
        ],
        "summary": "Updated Time Zone for User preferences page",
        "operationId": "Account_UpdateTimeZone",
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for timezone string",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountTimeZoneModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/versions": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get version of system",
        "operationId": "Account_GetVersionSystem",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/primary": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "gets primary accounts.",
        "operationId": "Account_GetPrimaryAccounts",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Account by Username(email).",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 2
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 3
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by index of the column. Example ",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 4
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: ‘desc’ for descending , ‘asc’ for ascending",
            "schema": {
              "type": "string",
              "default": "desc",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "The primary accounts. ",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/type": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get account type",
        "operationId": "Account_GetAccountType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/approval": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get approval accounts",
        "operationId": "Account_GetApprovalAccounts",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/access-approval": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get access approval accounts",
        "operationId": "Account_GetAccessApprovalAccounts",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/change-password": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change password",
        "operationId": "Account_ChangePasswordLogin",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordLoginModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/change-password-no-login": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Change password",
        "operationId": "Account_ChangePasswordWithoutLogin",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePasswordModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/accounts/reset-timezone": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Reset default time zone for user company",
        "operationId": "Account_ResetDefaultTimezone",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/last-login": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get last login of account",
        "operationId": "Account_GetLastLogin",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/get-token": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Get token with username (military number)",
        "operationId": "Account_GetTokenWithAccount",
        "requestBody": {
          "x-name": "model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccountGetTokenModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/waiting-for-review": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "get count visit, user waiting for review",
        "operationId": "Account_GetCountReviewWithAccount",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/logout": {
      "post": {
        "tags": [
          "Account"
        ],
        "summary": "Logout (clear current login info)",
        "operationId": "Account_Logout",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/root": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Set the account as root account.",
        "operationId": "Account_SetRootAccount",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "description": "account's name ",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "isRoot",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/visit/approval": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get list of accounts that have permission to approve visitor.",
        "operationId": "Account_GetVisitApprovalAccounts",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 2
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Email",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 5
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/user/approval": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get list of accounts that have permission to approve user.",
        "operationId": "Account_GetUserApprovalAccounts",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 2
          },
          {
            "name": "sortColumn",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "Email",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "sortDirection",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "pageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 5
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 6
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/accounts/token-info": {
      "put": {
        "tags": [
          "Account"
        ],
        "summary": "Update device token (firebase)",
        "operationId": "Account_UpdateDeviceToken",
        "parameters": [
          {
            "name": "deviceToken",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/attendances/init": {
      "get": {
        "tags": [
          "Attendance"
        ],
        "summary": "Get init page attendances management",
        "operationId": "Attendance_GetInit",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/attendances": {
      "get": {
        "tags": [
          "Attendance"
        ],
        "summary": "Get Attendance of Users with company",
        "operationId": "Attendance_Get",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Query string that filter Attendance by Name",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "departmentId",
            "in": "query",
            "description": "Id of department",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "attendanceType",
            "in": "query",
            "description": "Type of Attendance",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "String of Timezone",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "start",
            "in": "query",
            "description": "String time start",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 5
          },
          {
            "name": "end",
            "in": "query",
            "description": "String time end",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 6
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "Page number start from 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            },
            "x-position": 7
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of items per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            },
            "x-position": 8
          },
          {
            "name": "sortColumn",
            "in": "query",
            "description": "Sort Column by string name of the column. Example ",
            "schema": {
              "type": "string",
              "default": "UserName",
              "nullable": true
            },
            "x-position": 9
          },
          {
            "name": "sortDirection",
            "in": "query",
            "description": "Sort direction: 'desc' for descending , 'asc' for ascending",
            "schema": {
              "type": "string",
              "default": "asc",
              "nullable": true
            },
            "x-position": 10
          },
          {
            "name": "userId",
            "in": "query",
            "description": "UserId: Id of user",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            },
            "x-position": 11
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      }
    },
    "/attendances/{id}": {
      "get": {
        "tags": [
          "Attendance"
        ],
        "summary": "Get attendance report detail by id",
        "operationId": "Attendance_GetById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        },
        "security": [
          {
            "JWT": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Attendance"
        ],
        "summary": "Edit Attendance",
        "operationId": "Attendance_Edit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "identified of attendance",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "model",
          "description": "JSON model for object(type attendance, string of time in, string of time out)",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AttendanceModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
[...]
